* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgba(181, 26, 26, 0.997);
  align-items: center;
}
.logo-container {
  margin: 10px;
}

.logo {
  height: 50px;
}
.heading {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  color: white;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin-left: 10px;
  text-shadow: 2px 2px 4px #000000;
}

.nav-items > ul {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  border: 2px solid rgb(133, 13, 13);
  outline: solid 0.5px black;
  background-color: rgba(208, 53, 53, 0.997);
  border-radius: 25px;
  /* padding: 5px 10px; */
}

.nav-items > ul > li {
  list-style-type: none;
  padding: 5px 25px;
  color: white;
}

.nav-items > ul > li:hover {
  /* background-color: rgb(133, 13, 13); */
  background-color: white;
  color: red;
  /* text-shadow: 1px 1px 2px #000000; */
  text-decoration: underline;
  border-radius: 25px;
  /* outline: solid 1.5px white; */
  cursor: pointer;
}

.search {
  margin: 20px;
  display: flex;
  /* justify-content: center; */
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  background-color: rgb(221, 221, 221);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 300px;
  margin: 20px;
  border-radius: 5px;
  padding: 5px;
}

.res-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
  cursor: pointer;
}

.card-img {
  overflow: hidden;
}

.card-img > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.res-card > h3 {
  margin: 5px 0 10px 0;
  font-size: 18px;
}

.food-rating {
  background-color: #00ab45;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
}
